/* ContinuousScrollingFlexbox.css */
@keyframes continuousScroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust the percentage to control the scrolling speed */
    }
  }
  
  .scrolling-flexbox {
    display: flex;
    width: 100%;
    overflow: hidden;
    animation: continuousScroll 15s linear infinite; /* Adjust the animation duration (15s) as needed */
  }
  
  .scrolling-flexbox div {
    flex-shrink: 0;
    padding: 22px;
    border: 2px solid red;
    width: 15%; /* Adjust the width of each image to fit the container */
    height: auto;
  }
  


  .image-container {
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container without stretching */
    transition: transform 0.3s ease;
  }
  
  .image-container:hover {
    transform: scale(1.2); 
    z-index: 2;
    border-radius: 10px;
    /* transform: scale(1.2) rotateX(15deg) rotateY(15deg); Increase the scale and apply rotation when hovered */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .blue-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Adjust the height as needed */
    background: linear-gradient(to top, rgba(0, 50, 150, 0.9), rgba(255, 255, 255, 0)); 
  }

  .hover-3 {
    --b: 0.1em;   /* the thickness of the line */
    --c: #1095c1; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover-3:hover {
    --_p: 100%;
    --_s: .3s;
  }



  .privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  